.profile {
	background-color: var(--clr-neutral-100);
	padding: 1.375rem;

	&__picture {
		width: 100%;
		max-width: 21.4375rem;
		height: auto;
		border-radius: .75rem;
	}

	&__personal {
		margin-top: 1.5rem;
	}

	&__name {
		font-size: 1.5rem;
		color: var(--clr-neutral-400);
	}

	&__occupation {
	}

	&__contacts {
		margin-top: 2rem;
	}

	&__about {
		margin-top: 2.125rem;
	}
}
