<article class="profile card">
	<img class="profile__picture" src="assets/profile_picture.jpg" alt="">
	
	<div class="profile__personal">
		<h1 class="profile__name">Manuel Brás</h1>
		<p class="profile__occupation">Frontend Developer</p>
	</div>

	<div class="profile__contacts">
		<p class="profile__email">manuel.madeira.bras@gmail.com</p>
		<p class="profile__phone">+351 932 278 427</p>
	</div>

	<p class="profile__about">Passionate about web development and pixel perfect responsive layouts. Currently looking to be part of new and exciting projects.</p>
</article>
